html {
	font-family: Helvetica;
}

.error {
	color:	#FF0000;
}

body {
	background-color: #DDEB9D;
}

header {
	margin: 200px;
}

.formBox {
	height: 100%;
	width: 400px;	
	background-color: #FFFDF6;
	color: #80A45C;
	margin: auto;
	padding: 50px 50px;
}

.formBox a{
	color: #111111;
	text-decoration: none;
}